includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - config
        - resources
        - routes
        - tests

    level: 5

    checkMissingIterableValueType: false
